html,body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
.container{
background-color: #1a1a1a;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;

}
.container .box{
display: flex;
align-items: center;
flex-direction: column;
width: 200 px;
padding: 50px;
border: solid 1px #fff;
background-color: #605a5a;
border-radius: 20px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input{
    color: #1a1a1a;
    height:30px;
}




